@model Shop.Models.UserOrdersViewModel

<div class="row">
    <div class="col-md-3 my-4">
        <div class="list-group ">
            <a asp-action="Index" class="list-group-item list-group-item-action">Данные пользователя</a>
            <a asp-action="Edit" asp-route-id="@Model.User.Id" class="list-group-item list-group-item-action">Изменить данные</a>
            <a asp-action="ChangePassword" asp-route-id="@Model.User.Id" class="list-group-item list-group-item-action">Изменить пароль</a>
            <a asp-controller="Cart" asp-action="Index" class="list-group-item list-group-item-action">Корзина</a>
            <a asp-action="GetAllOrders" class="list-group-item list-group-item-action">Заказы</a>
            <a class="list-group-item list-group-item-action">
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input type="submit" value="Выйти из профиля" style="background:none;border:none;padding:0">
                </form>
            </a>
        </div>
    </div>
    <div class="col-md-9 my-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (Model.User.Name == null)
                        {
                            <h4>@Model.User.Email</h4>
                        }
                        else
                        {
                            <h4>@Model.User.Name</h4>
                        }
                        <hr>
                    </div>
                </div>
                @for (int i = Model.Orders.Count - 1; i >= 0; i--)
                {
                    var order = Model.Orders[i];
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            <h5>Заказ № @order.Number</h5>
                                            <h5><span class="badge badge-info badge-pill">@order.Status</span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-7 order-md-2">
                                            <div class="form-group row">
                                                <div class="col-5" style="color:darkgray">Дата оформления:</div>
                                                <div class="col-7">@order.DateTime.ToString("d")г.</div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5" style="color:darkgray">Адрес доставки:</div>
                                                <div class="col-7">@order.UserAddress</div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5" style="color:darkgray">Получатель:</div>
                                                <div class="col-7">@order.UserFirstName @order.UserLastName</div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5" style="color:darkgray">Телефон:</div>
                                                <div class="col-7">@order.UserPhone</div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5" style="color:darkgray">Email:</div>
                                                <div class="col-7">@order.UserEmail</div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5" style="color:darkgray">Комменатрий:</div>
                                                <div class="col-7">@order.UserComment</div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-5" style="color:darkgray">Сумма заказа:</div>
                                                <div class="col-7"><h6>@order.FullPrice &#8381;</h6></div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 order-md-1">
                                            @for (int j = 0; j < order.OrderItems.Count; j++)
                                            {
                                                <div class="form-group row">
                                                    <div class="col-md-4">
                                                        <a asp-controller="Product" asp-action="Index" asp-route-id="@order.OrderItems[j].Product.Id">
                                                            <img class="img-fluid d-none d-md-block rounded mb-2 shadow" width="110" height="110" src="@Url.Content(order.OrderItems[j].Product.ImagePath)" alt="Изображение товара" />
                                                        </a>
                                                    </div>
                                                    <div class="form-group col-md-8 ">
                                                        <div class="col-md-12"><a class="text-info" asp-controller="Product" asp-action="Index" asp-route-id="@order.OrderItems[j].Product.Id">@order.OrderItems[j].Product.Name</a></div>
                                                        @if (order.OrderItems[j].Amount > 1)
                                                        {
                                                            <div class="col-md-12"><h6>@order.OrderItems[j].Product.Price &#8381; <small>х @order.OrderItems[j].Amount</small></h6></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="col-md-12"><h6>@order.OrderItems[j].Product.Price &#8381;</h6></div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>